<div class="modal-header">
    Criar Conta
</div>
<div class="modal-body">
    <form [formGroup]="formularioDeUsuario" 
        (ngSubmit)="criarConta()">

        <label for="nome">Nome: </label>
        <input type="text" formControlName="nome" 
            class="form-control mb-3">
        <small *ngIf="!nome.pristine && nome.errors" 
            class="text-danger font-weight-bold">
            <p *ngIf="nome.errors.required">
                Nome é obrigatório.
            </p>
            <p *ngIf="nome.errors.minlength">
                Nome deve ter no mínimo 3 caracteres.
            </p>
            <p *ngIf="nome.errors.maxlength">
                Nome deve ter no máximo 100 caracteres.
            </p>
        </small>

        <label for="email">E-mail: </label>
        <input type="text" formControlName="email"
            class="form-control mb-3">
        <small *ngIf="!email.pristine && email.errors"
            class="text-danger font-weight-bold">
            <p *ngIf="email.errors.email">
                Digite um e-mail válido.
            </p>
        </small>

        <label for="cpf">CPF: </label>
        <input type="text" formControlName="cpf"
            class="form-control mb-3">
        <small *ngIf="!cpf.pristine && cpf.errors"
            class="text-danger font-weight-bold">
            <p *ngIf="cpf.errors.required">
                CPF é obrigatório.
            </p>
            <p *ngIf="cpf.errors.cpfInvalido">
                Digite um CPF válido
            </p>
        </small>

        <label for="nascimento">Nascimento: </label>
        <input type="date" formControlName="dataDeNascimento"
            class="form-control mb-3">
        <small *ngIf="!dataDeNascimento.pristine && dataDeNascimento.errors"
            class="text-danger font-weight-bold">
            <p *ngIf="dataDeNascimento.errors.required">
                Data de Nascimento é obrigatória.
            </p>
            <p *ngIf="dataDeNascimento.errors.menorDeIdade">
                Você precisa ter mais de 18 anos para cadastrar-se.
            </p>
        </small>

        <div class="row">
            <div class="col-6">
                <label for="senha">Senha: </label>
                <input type="password" formControlName="senha"
                    class="form-control mb-3">
                <small *ngIf="!senha.pristine && senha.errors"
                    class="text-danger font-weight-bold">
                    <p *ngIf="senha.errors.required">
                        Senha é obrigatória.
                    </p>
                    <p *ngIf="senha.errors.minlength">
                        Senha deve ter no mínimo 6 caracters.
                    </p>
                    <p *ngIf="senha.errors.maxlength">
                        Senha deve ter no máximo 12 caracters.
                    </p>
                </small>
            </div>
            <div class="col-6">
                <label for="confirmarSenha">
                    Confirmar senha: 
                </label>
                <input type="password" 
                    formControlName="confirmarSenha"
                    class="form-control mb-3"> 
                <small *ngIf="!confirmarSenha.pristine && confirmarSenha.errors"
                    class="text-danger font-weight-bold">
                    <p *ngIf="confirmarSenha.errors.required">
                        Confirme sua senha.
                    </p>
                    <p *ngIf="confirmarSenha.errors.senhasNaoCoincidem">
                        As senhas não coincidem.
                    </p>
                </small>
            </div>
        </div>

        <button [disabled]="!formularioDeUsuario.valid"
            class="btn btn-primary">
            Criar Conta
        </button>
    </form>
</div>