<div class="m-3">
  <div class="row mb-3">
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-header">
          <h5 *ngIf="indiceEdicao == -1">Adicionar produto</h5>
          <h5 *ngIf="indiceEdicao > -1">Editar produto</h5>
        </div>
        <div class="card-body">
          <label>Nome:</label>
          <input type="text" [(ngModel)]="produto.nome" 
            class="form-control">
          <br>
          <label>Preço:</label>
          <input type="text" [(ngModel)]="produto.preco"
            class="form-control">   
        </div>
        <div class="card-footer">
          <button (click)="salvar()" 
            class="btn btn-success float-right">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-lista-de-produtos
    [produtos]="produtos"
    (editar)="editar($event)"
    (excluir)="abrirModalExclusao(templateModalExclusao, $event)"
  ></app-lista-de-produtos>

  <ng-template #templateModalExclusao>
    <div class="modal-header">
      Excluír produto
    </div>
    <div *ngIf="indiceExclusao > -1" class="modal-body">
      Tem certeza de que deseja excluir o produto 
      {{produtos[indiceExclusao].nome}}?
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" 
        (click)="fecharModalExclusao(false)">Não</button>
      <button class="btn btn-primary"
        (click)="fecharModalExclusao(true)">Sim</button>
    </div>
  </ng-template>
</div>